.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.tableScroll {
  max-height: 500px;
  overflow-y: auto;
}

h2 {
  font-size: 2rem;
}

.d-flex {
  display: flex;
  justify-content: space-between;
}

.mat-icon {
  margin: 0px !important;
}