<div class="card">
  <div class="d-flex justify-content-center">
    <img src="../../../assets/logo-sentra.png" class="card-img-top" alt="sentra" />
  </div>
  <div class="card-body">
    <h5 class="card-title">Comentarios</h5>
    <p class="card-text">Les comentaré un poco mi experiencia y a lo que me vi enfrentado al realizar este ejercicio técnico.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Utilicé Angular y AngularMaterial en sus versiones 18.</li>
    <li class="list-group-item">Utilicé una Api pública que tiene datos de prueba de "productos" para emular la respuesta de un BackEnd https://fakestoreapi.com/</li>
    <li class="list-group-item">El menú es responsivo por lo tanto tiene su manejo propio para visualizarlo en resoluciones menores.</li>
    <li class="list-group-item">Cree un Administrador de productos CRUD aplicando el manejo de AngularMaterial para todos los elementos.</li>
    <li class="list-group-item">Me faltó realizar validaciones para no permitir registros duplicados.</li>
    <li class="list-group-item">Me faltó entregar un mensaje de confirmación al grabar, eliminar o editar los datos.</li>
    <li class="list-group-item">
      Algunas de las características que le agregue a la grilla fueron:
      <ul>
        <li class="list-group-item">Filtro por Categoría que permite seleccionar una o más.</li>
        <li class="list-group-item">Textbox para realizar búsqueda por todos los campos de la grilla.</li>
        <li class="list-group-item">Posibilidad de ordenar los registros haciendo click en sus correspondientes cabeceras.</li>
        <li class="list-group-item">Seleccionar la cantidad de registros que se mostrarán por página, por defecto parte en 5.</li>
        <li class="list-group-item">Paginador.</li>
        <li class="list-group-item">Algunos ToolTips de ayuda.</li>
        <li class="list-group-item">
          Al momento de crear o editar se puede cargar una URL de una imagen que se mostrará en el formulario, la idea es que se cargara una imagen desde el PC del usuario, pero como estoy trabajando con una Api de pruebas, no puedo guardar en BD las
          rutas finales de las imágenes.
        </li>
      </ul>
    </li>
  </ul>
  <div class="card-body">
    <a href="https://www.sentra.cl/" target="_blank" class="card-link">Sentra</a>
  </div>
</div>
